*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#0d0d0d;
font-family:Poppins;
color:white;

}

.container{

width:90%;
max-width:420px;
margin:auto;
padding:40px 0;

}

.logo{

width:110px;
display:block;
margin:auto;

}

h1{

margin-top:20px;
text-align:center;
font-size:34px;
letter-spacing:3px;

}

.subtitle{

text-align:center;
color:#999;
margin-top:8px;
margin-bottom:45px;

}

.menu{

display:flex;
flex-direction:column;
gap:22px;

}

.card{

background:#181818;
border-radius:18px;
padding:25px;
text-decoration:none;
color:white;
transition:.3s;

border:1px solid #2a2a2a;

}

.card:hover{

transform:translateY(-5px);

border-color:#c8a96a;

}

.card h2{

font-size:22px;

}

.card p{

font-family:Cairo;
margin-top:6px;
color:#aaa;

}

.qr{

margin-top:55px;
text-align:center;

}

.qr img{

width:130px;
border-radius:12px;

}

.qr span{

display:block;
margin-top:15px;
color:#999;

}
